#container-jumbotron{
    margin-top: 120px;
}

#container-tutorial{
    padding-left: 50px;
}

.navbar{
    background-color: rgb(195, 201, 201);
} 

.navbar-brand{
    font-weight: bolder;
    font-size: 35px;
}



#img-tutorial{ 
	position:fixed; 
	top:0; 
	left:0; 
} 

.position{
    margin-left: 20px;
}

.jumbotron{
    border-radius: 20px;
    margin-top: 40px;
    padding-top: 20px;
}

.display-4{
    font-size: 45px;
    font-weight: 500;
}

.title-tutorial{
    margin-bottom: 30px;
}

/* .container{
    position: absolute;
    width: 1330px;
    height: 265px;
    left: 56px;
    top: 200px;
} */

