.col-6 {
  margin-bottom: 30px;
}

.h2 {
  margin-left: 50px;
}

.h5 {
  margin-top: 20px;
  font-weight: 450;
}

#informasi {
  font-weight: 450;
}

.input {
  height: 30px;
  width: 100px;
  font-size: small;
}

.navbar {
  background-color: rgb(195, 201, 201);
}

.navbar-brand {
  font-weight: bolder;
  font-size: 35px;
}

.table {
  width: fill;
  margin-top: 25px;
}

.position {
  margin-top: 40px;
  width: 100%;
}

.p-3 {
  font-size: 30px;
  font-weight: 600;
  height: 464px;
}

.t-head {
  align-content: center;
}

th,
td,
tr {
  font-size: 20px;
}
