#main-layout {
  margin-top: 120px;
}

#button-del-device {
  float: right;
  height: 45px;
  width: 180px;
  padding: 0;
  position: relative;
  right: 16px;
}

.del-device-text {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navbar {
  background-color: rgb(195, 201, 201);
}

.navbar-brand {
  font-weight: bolder;
  font-size: 35px;
}

#kolom-input {
  height: 300px;
}

.jumbotron {
  padding: 16px;
}

#info-value {
  text-align: center;
  font-size: 100px;
}

#limit-value {
  text-align: center;
  font-size: 60px;
}

.h3 {
  margin: 0;
}

.container {
  position: relative;
  height: 100%;
  padding: 0px;
}

#col-label {
  text-align: left;
  width: 150px;
  height: 50px;
}

#col-input {
  padding-left: 30px;
  width: 300px;
  height: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bottomright {
  position: absolute;
  bottom: 0px;
  right: 16px;
  font-size: 18px;
}

#save-btn {
  width: 125px;
  height: 50px;
  background-color: rgb(7, 219, 35);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  border-radius: 10px;
  border: 0;
}

#save-btn:hover {
  width: 125px;
  height: 50px;
  background-color: rgb(2, 119, 19);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  border-radius: 10px;
  border: 0;
}

/* td {
  border: 1px solid black;
} */
